ProxyRequests Off
<Proxy *>
        Order allow,deny
        Allow from all
</Proxy>

ProxyPass               /cas    ajp://localhost:8009/cas
ProxyPassReverse        /cas    ajp://localhost:8009/cas
